<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>725869018849-pgheqkne1enrh8mkm8vg58cmh7qd1q90.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.725869018849-pgheqkne1enrh8mkm8vg58cmh7qd1q90</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>725869018849-1j3uf0nibfq94spdepe8n8b50m321a8k.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC8VVaRNcWiB9zl3hcRvGb9P5d0yuQWDLE</string>
	<key>GCM_SENDER_ID</key>
	<string>725869018849</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.hotelbyh</string>
	<key>PROJECT_ID</key>
	<string>hotelbyh</string>
	<key>STORAGE_BUCKET</key>
	<string>hotelbyh.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:725869018849:ios:390d0f7afce77530f8c1a0</string>
</dict>
</plist>